name: Deploy to GH Pages
# on - kiedy akcja ma się wykonać
on:
  push:
    branches:
      - "master"
      - "shop-section"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      BASE_PATH: clickerGenerator

    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Install and build
        run: |
          ls
          cd ./Platform
          npm Install
          npm run build

      - name: Add .nojekyll
        run: |
          touch out/.nojekyll

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.0
        with:
          brach: gh-pages
          